/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 75px;
  margin: 0 10px;

  position: sticky;
  top: 10px;
  z-index: 2;
  
  background-color: lightgrey;
  border-radius: 20px;
}

#desktop-nav {
  background: #ffffff12;
  backdrop-filter: blur(10px);
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

.nav-links li a:hover {
  color: red;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);

  text-shadow: 0 0 8px white,
               0 0 10px #f70800,
                0 0 12px #f15353;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 0;
  height: 644px;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#home {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 620px;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

#myImage-2 {
  height: 350px;
  width: 350px;
}

#myImage {
  border: 3px solid #2d2e32;
  animation: myImage 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  transition: all 1s ease-in-out;
}

@keyframes myImage {
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(0, 0, 0) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: black;
  color: white;
}

.btn-color-1:hover {
  background: white;
  color: black;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  /* padding: 1.5rem; */
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

.para {
  color: rgb(85, 85, 85);
  display: flex;
  justify-content: center;
}

.experience {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 10rem;
  width: 1199px;
  height: 644px;
  min-height: fit-content;
}

.listing_start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px;
}

.skills p {
  border-bottom: 2px solid rgba(45, 46, 50, .5);
  margin-bottom: 20px;
  padding-bottom: 4px;
  padding-top: 4px;
  font-weight: 600;
}

.listOf ul li {
  list-style: none;
}

.skill_topics {
  display: flex;
  justify-content: center;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  height: 750px;
}

/* new Project section css codes */

.project-slider {
  width: 100%;
  height: 550px;
  border: 1px inset grey;
  border-radius: 50px;
  box-shadow: 0 0 3px grey, 0 0 6px #b9b7b7, 0 0 9px white;

  /* to put all images on one another. use position RELATIVE in parent
       element and then on images use position ABSOLUTE. */
  position: relative;

  /* after position: relative and absolute, all images shown into A ROW.
       after using OVERFLOW HIDDEN, we get to see only one image on web and 
       rest will be behind that image. */
  overflow: hidden;
}

.project-slider .slide {
  width: 100%;
  height: 100%;

  /* to put all images on one another. use position RELATIVE in parent
       element and then on images use position ABSOLUTE. */
  position: absolute;

  transition: 1s;
}

/* .nav {
  text-align: center;
  margin-top: 15px;
}

.nav button {
  font-size: 25px;
  padding: 5px;
} */

.slider-next {
  position: relative;
  z-index: 1;
  border: none;
  background: none;
  font-size: 45px;
  font-weight: bold;
  color: #0c0c0c;
  border-radius: 50%;
  width: 46px;
  top: 31%;
  left: 990px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  /* background-color: #afcdfff0; */
  border: 1px white;
  border-style: outset;
}

.slider-prev {
  position: relative;
  z-index: 1;
  border: none;
  background: none;
  font-size: 45px;
  font-weight: bold;
  color: #0c0c0c;
  border-radius: 50%;
  width: 46px;
  top: 31%;
  right: -110px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  /* background-color: #afcdfff0; */
  border: 1px white;
  border-style: inset;
}

.slider-prev:hover,
.slider-next:hover {
  text-shadow: 0 0 8px rgb(255, 255, 255),
               0 0 12px #dfdfd6,
                0 0 16px #ffffff;

  /* display: inline-block;
  animation: flip 1s ease-in-out; */
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.project-img {
  margin-top: 10px;
  width: 921px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid white;
}

.project-title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.75rem;
}

.btn-container {
  height: 54px;
  display: flex;
  justify-content: space-around;
}

.btnHov-1 {
  font-size: 20px;
  border: 1px solid #000000;
  border-color: rgb(163, 163, 163);
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 120px;
  border-radius: 2rem;
  background: black;
  color: white;
}

.btnHov-2:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.btnHov-1:hover {
  cursor: pointer;
  background: white;
  color: black;
  border: 1px solid black;
}

.btnHov-2 {
  font-size: 20px;
  border: 1px solid #000000;
  border-color: rgb(163, 163, 163);
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 150px;
  border-radius: 2rem;
}

/* CONTACT */

#contact {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: 490px;
  /* height: 300px; */
  padding-top: 60px;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-info-container p a:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
  color:red;
  border: 1px solid black;
  text-shadow: 0 0 8px white,
               0 0 10px #f70800,
                0 0 12px #f15353;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  bottom: 0;
  box-shadow: 0 -3px 3px 0 rgba(51, 49, 49, 0.15);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

/* footer p {
  text-align: center;
} */
